th{
    background-color: rgb(0, 0, 0);
    color: white;
}
.Download{
    width: 100%;
    overflow: auto;
}
.Download a{
    display: block;
    float: left;
    width: 100%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px 0;
    text-align: center;
}
.tbody1{
    background-color: rgb(255, 255, 255);
}
body{
    background-image: url(/images/istockphoto-1296377266-612x612.jpg);
    background-size: 100%;
}
.Nav{
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}
.Nav a {
    display: block;
    float: left;
    width: 20%;
    text-align: center;
    color: white;
    font-size: 15px;
    padding: 12px 0;
}
a:hover{
    color: red;
}
.Contact{
    width: 100%;
    overflow: auto;
}
.Contact a{
    display: block;
    float: left;
    width: 33%;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 12px 0;
}
a:hover{
    color: rgb(255, 0, 0);
}
