.th1{
    background-color: aqua;
}
.th2{
    background-color: aqua;
}
.th3{
    background-color: aqua;
}
.tbody1{
    background-color: rgb(255, 255, 255);
}
#body1{
    background-color: hsla(29, 76%, 41%, 0.808);
}
nav{
    background-color: rgba(0, 0, 0, 0.267);
    width: fit-content;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 20px;
}
#body2{
    background-color: hsla(29, 76%, 41%, 0.808);
}
#body3{
    background-color: hsla(29, 76%, 41%, 0.808);
}
#body4{
    background-color: hsla(29, 76%, 41%, 0.808);
}
a:hover{
    color: white;
}
